<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<listener>
		<listener-class>br.eng.eliseu.gwt.portalSimples.server.InitServerListener</listener-class>
	</listener>
	<listener>
		<listener-class>br.eng.eliseu.gwt.portalSimples.server.guice.PortalGuiceConfig</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>br.eng.eliseu.gwt.portalSimples.server.service.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/PortalSimples/login</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>PortalSimples.html</welcome-file>
	</welcome-file-list>

</web-app>
